body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

#container {
    max-width: 90%; /* Modificado para que se ajuste al ancho del dispositivo */
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
    color: #333;
}

form {
    margin-bottom: 20px;
}

label {
    text-align: center;
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
}

button {
    margin: 5px;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#resultsContainerParadas,
#resultsContainer {
    text-align: center;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    overflow-x: auto; /* Agregado para permitir el desplazamiento horizontal en tablas largas */
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

th {
    background-color: #f0f0f0;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    /* Estilos específicos para pantallas pequeñas */
    #container {
        max-width: 100%;
    }

    input[type="number"],
    select,
    button {
        width: 100%;
    }

    #resultsContainerParadas,
    #resultsContainer {
        width: 100%;
        overflow-x: auto;
    }
}
